:root { 
--orange_A700_bf:#ff5c0abf; 
--deep_orange_A200:#ec6a33; 
--blue_gray_800_3f:#3d3f543f; 
--gray_900_cc:#171717cc; 
--red_400:#b35454; 
--blue_gray_800_99:#3d3f5499; 
--blue_gray_800_33:#3d3f5433; 
--amber_A400:#e3c101; 
--blue_gray_800_54:#3d3f5454; 
--black_900:#000000; 
--yellow_900:#de7818; 
--gray_100_99:#f7f0f099; 
--blue_gray_800:#3d3f54; 
--blue_gray_700:#4a4c5f; 
--orange_A700_4c:#ff5c0a4c; 
--gray_100_90:#f7f0f090; 
--red_A700:#ff0000; 
--blue_gray_800_7f:#3d3f547f; 
--amber_500:#f0cd0a; 
--orange_A700:#ff5c0a; 
--amber_600:#d2b309; 
--red_A200:#ff6154; 
--blue_gray_600:#60637b; 
--amber_100:#fff2b5; 
--gray_100:#f7f0f0; 
--orange_A700_d8:#ff5c0ad8; 
--black_900_56:#00000056; 
--blue_gray_800_e5:#3d3f54e5; 
--white_A700:#ffffff; 
}