@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f7f0f0;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}
.audiopen-style {
  @apply [background:radial-gradient(100%_100%_at_50%_-40%,_#ff5c0a,_#f7f0f0,_#f7f0f0)] text-[#3D3F54] box-border w-full overflow-hidden flex flex-col items-center justify-start gap-[129px] mix-blend-normal border-[1px] border-solid border-darkslategray-300;
}
.audiopen-monitor {
  @apply relative rounded-[30px] [background:linear-gradient(63.14deg,_rgba(255,_92,_10,_0.75),_#ff5c0a_50%,_rgba(255,_92,_10,_0.85))] w-[460px] h-[233px] text-center text-[32.21px] text-whitesmoke-100 font-fraunces;
}
.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button, .ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container, .ps-submenu-content{
  background-color: transparent !important;
}
.ps-collapsed .ps-menu-icon{
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed{
  width: 80px !important;
}
.ps-sidebar-container, .ps-menu-root,.ps-menu-root>ul{
  width:100%;
  display:flex;
  flex-direction: column;
}
.ps-sidebar-root{
  min-width: unset !important;
  border: none !important;
}
.ps-collapsed, .ps-collapsed .ps-menu-root, .ps-collapsed .ps-menu-button{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul{
  align-items: center;
}
.ps-menu-label{
  display: flex;
  justify-content: space-between;
}

.loading{
	width:50px;
	height:50px;
	text-align: center;
	-webkit-animation: sa-rotate 2.0s infinite linear;
	animation: sa-rotate 2.0s infinite linear;
}
.dot_1, .dot_2{
	width: 70%;
	height: 70%;
	display: inline-block;
	position:absolute;
	top: 0;
	background-color: #FFF;
	border-radius: 100%;
	-webkit-animation: sa-bounce 2.0s infinite ease-in-out;
	animation: sa-bounce 2.0s infinite ease-in-out;
}
.dot_2{
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@keyframes sa-bounce{
	0%, 100%{
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50%{ 
	transform:scale(1.0);
	-webkit-transform: scale(1.0);
	}
}
@-webkit-keyframes sa-rotate {
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@keyframes sa-rotate {
	100%{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes sa-bounce{
	0%, 100%{
		-webkit-transform:scale(0.0);
	}
	50%{
		-webkit-transform: scale(1.0);
	}
}